.post-card{

    display: flex;
    align-items: center;
    width: 500px;
    box-shadow: 3px 3px 15px 3px black;
    padding: 10px;
    margin: 10px;


    .img-box{
        width: fit-content;
        padding: 5px;

        img{
            width: 100%;
            border-radius: 5px;
            
        }
    }

    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h5{
            font-weight: bold;
        }
        
    }

    .admin-options{
        display: flex;
        padding: 10px;
        font-size: 30px;
        gap: 10px;   
        
        .icons{
            cursor: pointer;
        }
        .icons:hover{
            opacity: 0.8;
        }
        .icons:active{
            opacity: 0.5;
        }
        .edit{
            color: green;
        }
        .delete{
            color: red;
        }
    }
}

.vertical{
    flex-direction: column;
    width: 320px;
}