.admin-panel{
    // border: solid 2px;
    width: 80%;
    margin: auto;

    .profile{
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 40px;
        padding: 30px;
        
        .image{
            overflow: hidden;
            box-shadow: 3px 3px 8px;
            width: fit-content;
            border-radius: 50%;
            
            img{
                width: 150px;
                height: 150px;
            }
        }

        .details{
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;

            .email{
                font-size: 18px;
                color: gray;
            }
            
        }
    }

    .post-data{
        display: flex;
        box-shadow: 2px 2px 5px gray;
        padding: 10px;
        justify-content: space-around;

        div{
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            background-color: rgba(0, 122, 131, 0.072);
            padding: 0 30px;
            border-radius: 7px;
            height: 40px;

            p{
                margin: 0;
            }

            .icon{
                font-size: 30px;
                padding: 5px;
            }
        }

        margin-bottom: 30px;

    }
}